<h6>

  Mercury App
</h6>

<div id="container" class="text-center">
  <h2>Bem-vindo ao Gerenciador de Produtos!</h2>
  <p class="description">Este aaplicativo permite que você adicione, visualize e gerencie seus produtos de forma fácil e
    rápida.</p>
  <p class="description">Para começar, clique no botão abaixo para adicionar um novo produto.</p>

  <ion-button expand="full" (click)="navigateToAddProduct()" color="primary" class="add-product-button">Adicionar
    Produto</ion-button>



  <ion-title>Produtos</ion-title>
  <ion-buttons slot="end">
    <ion-button routerLink="/add-product">Adicionar novo produto</ion-button>
  </ion-buttons>
  <ion-list *ngIf="products.length > 0">
    <ion-item *ngFor="let product of products">
      <ion-label>
        <h2>{{ product.title | uppercase }}</h2>
        <p>{{ product.price | currency }}</p>
      </ion-label>
    </ion-item>
  </ion-list>
  <ion-item *ngIf="products.length === 0">
    <ion-label>
      <h2>Sem produtos disponíveis</h2>
    </ion-label>
  </ion-item>
</div>

<style>
  #container {
    margin-top: 20px;
  }

  h2 {
    font-size: 24px;
    margin-bottom: 10px;
  }

  .description {
    font-size: 20px;
    margin-bottom: 20px;
  }

  .text-center {
    text-align: center;
  }
</style>