<ion-title>Produtos</ion-title>
<div class="ion-margin"></div>
<ion-list *ngIf="products.length > 0">
  <ion-item *ngFor="let product of products | paginate: { itemsPerPage: 3, currentPage: page }">
    <ion-label>   //percorre a lista de produtos com paginação e mostra as informações
      <h2>{{ product.title | uppercase }}</h2>
      <p>{{ product.price | currency }}</p>
      <p>Descrição: {{product.description}}</p>
      <div *ngIf="product.image">       //verificando se o produto tem imagem, se tiver ele exibe
        <ion-img src="{{product.image}}" style="height: 10rem;"></ion-img>
      </div>
    </ion-label>
  </ion-item>
  <div class="has-text-centered">
    <pagination-controls (pageChange)="page = $event"></pagination-controls>
  </div>
</ion-list>
<ion-item *ngIf="products.length === 0">
  <ion-label>
    <h2>Sem produtos disponíveis</h2>
  </ion-label>
</ion-item>