

  <ion-title>Produtos</ion-title>
    <ion-buttons slot="end">
      <ion-button routerLink="/add-product">Adicionar novo produto</ion-button>
    </ion-buttons>
  <ion-list *ngIf="products.length > 0">
    <ion-item *ngFor="let product of products">
      <ion-label>
           <h2>{{ product.title | uppercase }}</h2>
        <p>{{ product.price | currency }}</p>
      </ion-label>
    </ion-item>
  </ion-list>
  <ion-item *ngIf="products.length === 0">
    <ion-label>
      <h2>Sem produtos disponíveis</h2>
    </ion-label>
  </ion-item>
